{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<style>
    .p-4 {
        padding: 1.5rem !important;
    }

    .mb-0,
    .my-0 {
        margin-bottom: 0 !important;
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }

    /* user-dashboard-info-box */
    .user-dashboard-info-box .candidates-list .thumb {
        margin-right: 20px;
    }

    .user-dashboard-info-box .candidates-list .thumb img {
        width: 80px;
        height: 80px;
        -o-object-fit: cover;
        object-fit: cover;
        overflow: hidden;
        border-radius: 50%;
    }

    .user-dashboard-info-box .title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 30px 0;
    }

    .user-dashboard-info-box .candidates-list td {
        vertical-align: middle;
    }

    .user-dashboard-info-box td li {
        margin: 0 4px;
    }

    .user-dashboard-info-box .table thead th {
        border-bottom: none;
    }

    .table.manage-candidates-top th {
        border: 0;
    }

    .user-dashboard-info-box .candidate-list-favourite-time .candidate-list-favourite {
        margin-bottom: 10px;
    }

    .table.manage-candidates-top {
        min-width: 650px;
    }

    .user-dashboard-info-box .candidate-list-details ul {
        color: #969696;
    }

    /* Candidate List */
    .candidate-list {
        background: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #eeeeee;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .candidate-list:hover {
        -webkit-box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
        box-shadow: 0px 0px 34px 4px rgba(33, 37, 41, 0.06);
        position: relative;
        z-index: 99;
    }

    .candidate-list:hover a.candidate-list-favourite {
        color: #e74c3c;
        -webkit-box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
        box-shadow: -1px 4px 10px 1px rgba(24, 111, 201, 0.1);
    }

    .candidate-list .candidate-list-image {
        margin-right: 25px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
        border: none;
    }

    .candidate-list .candidate-list-image img {
        width: 80px;
        height: 80px;
        -o-object-fit: cover;
        object-fit: cover;
    }

    .candidate-list-title {
        margin-bottom: 5px;
    }

    .candidate-list-details ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }

    .candidate-list-details ul li {
        margin: 5px 10px 5px 0px;
        font-size: 13px;
    }

    .candidate-list .candidate-list-favourite-time {
        margin-left: auto;
        text-align: center;
        font-size: 13px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
    }

    .candidate-list .candidate-list-favourite-time span {
        display: block;
        margin: 0 auto;
    }

    .candidate-list .candidate-list-favourite-time .candidate-list-favourite {
        display: inline-block;
        position: relative;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border: 1px solid #eeeeee;
        border-radius: 100%;
        text-align: center;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        margin-bottom: 20px;
        font-size: 16px;
        color: #646f79;
    }

    .candidate-list .candidate-list-favourite-time .candidate-list-favourite:hover {
        background: #ffffff;
        color: #e74c3c;
    }

    .candidate-banner .candidate-list:hover {
        position: inherit;
        -webkit-box-shadow: inherit;
        box-shadow: inherit;
        z-index: inherit;
    }

    .bg-white {
        background-color: #ffffff !important;
    }

    .p-4 {
        padding: 1.5rem !important;
    }

    .mb-0,
    .my-0 {
        margin-bottom: 0 !important;
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }

    .user-dashboard-info-box .candidates-list .thumb {
        margin-right: 20px;
    }
</style>
{% endblock %}
{% block content %}
<a href="{{ url_for('spa.add_employee') }}" class="btn btn-outline-primary">Add Employee</a>
<div class="container">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Bookings History ({{ bookings.bookings_count }})
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% if bookings.booked_services %}
                    <ul class="list-group">
                        {% for booking in bookings.booked_services %}
                        <li class="list-group-item">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-block d-md-flex gap-2 w-100 justify-content-between">
                                        <div class="d-block  ">
                                            <h6 class="mb-0">Booking Tracking No. #{{ booking.booking_id }} </h6>
                                            {{ booking.services_count }} service{% if booking.services_count >1 %}s{%
                                            endif %} booked{% if booking.booking_cost %} @ Ksh. {{ booking.booking_cost
                                            }}{% endif %}.
                                            <!-- <p class="mb-0 opacity-75">Some placeholder content in a paragraph.</p> -->
                                        </div>
                                        <small class="opacity-50 text-nowrap">
                                            {{ booking.booking_time }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="text-primary font-monospace">You have not made any booking at the moment...</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Client List
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                                    <table class="table manage-candidates-top mb-0">
                                        <thead>
                                            <tr>
                                                <th>Employee Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for client in client_list.all() %}
                                            <tr class="candidates-list">
                                                <td class="title">
                                                    <div class="thumb"> 
                                                        <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                                                    </div>
                                                    <div class="candidate-list-details">
                                                        <div class="candidate-list-info">
                                                            <div class="candidate-list-title">
                                                                <h5 class="mb-0"><a href="#">{{ client.first_name }} {{ client.last_name }}</a></h5>
                                                            </div>
                                                            <div class="candidate-list-option">
                                                                <ul class="list-unstyled">
                                                                    <li>
                                                                        <i class="fas fa-filter pr-1"></i>
                                                                        Service Bookings - {{ client.bookings.count() }}
                                                                    </li>
                                                                    <li>
                                                                        <i class="fas fa-phone- pr-1"></i>
                                                                        <a href="tel:+254{{ client.phone_number[1:] }}" type="tel" class="btn">{{ client.phone_number }}</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Employee List
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="container mt-3 mb-4">
                        <div class="col-lg-9 mt-4 mt-lg-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                                        <table class="table manage-candidates-top mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Employee Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for employee in employee_list.all() %}
                                                <tr class="candidates-list">
                                                    <td class="title">
                                                        <div class="thumb"> 
                                                            <img class="img-fluid" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                                                        </div>
                                                        <div class="candidate-list-details">
                                                            <div class="candidate-list-info">
                                                                <div class="candidate-list-title">
                                                                    <h5 class="mb-0"><a href="#">{{ employee.first_name }} {{ employee.last_name }}</a></h5>
                                                                </div>
                                                                <div class="candidate-list-option">
                                                                    <ul class="list-unstyled">
                                                                        <li>
                                                                            <i class="fas fa-filter pr-1"></i>
                                                                            Completed Orders - {{ employee.services_offered.count() }} 
                                                                        </li>
                                                                        <li>
                                                                            <i class="fas fa-phone- pr-1"></i>
                                                                            <a href="tel:+254{{ employee.phone_number[1:] }}" type="tel" class="btn">{{ employee.phone_number }}</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

</script>
{% endblock %}